<!DOCTYPE html>
<html>
<head>
  <title>L12n</title>
  <%= stylesheet_link_tag    "l12n/application", :media => "all" %>
  <%= javascript_include_tag "l12n/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
